ul.info{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.info li{
	display: inline;
	padding: 0;
	margin: 0 10px 5px 0;
}
ul.info li span.count{
}
ul.info li span.price{
	color: green;
}
.clear{
	width: 100%;
	clear: both;
}
.footnote{
	font-size: 10px;
	text-align: center;
}